<a href="https://colab.research.google.com/github/polyankaglade/autoshaving_project_2020/blob/main/Trying_Berts_for_coreference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### От изначального автора тетрадки:

This notebook runs the coreferecne resolution model described in ["SpanBERT: Improving Pre-training by Representing and Predicting Spans"](https://arxiv.org/pdf/1907.10529.pdf) by Mandar Joshi, Danqi Chen, Yinhan Liu, Daniel S. Weld, Luke Zettlemoyer, Omer Levy, and released here: https://github.com/mandarjoshi90/coref

This Colab is by me, Jonathan K. Kummerfeld. My website is www.jkk.name

Note:
- This code does not handle text with multiple speakers, for that you will need to adjust the data preparation process.
- Occasionally I get a bug where either an assertion about the size of the input mask fails or a sequence is being assigned to an array element. It appears to be inconsistent across runs, so I'm not sure what is going on.
- The default model is not the best one. I chose it because it is much faster to download.

If you have suggestions, please contact me at jkummerf@umich.edu

# Configuration

First, specify your input. If you are just playing with this, edit the provided text. If you want to run on a larger file:

1. Upload a file.
2. Set the filename.

In [12]:
import pandas as pd

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/google-research-datasets/gap-coreference/master/gap-validation.tsv', sep='\t')
df.head(3)

             ID  ...                                                URL
0  validation-1  ...  http://en.wikipedia.org/wiki/Commission_on_Ele...
1  validation-2  ...         http://en.wikipedia.org/wiki/Kathleen_Nott
2  validation-3  ...  http://en.wikipedia.org/wiki/Hawaii_Five-0_(20...

[3 rows x 11 columns]

In [17]:
from collections import Counter

In [18]:
Counter([len(t.split('.')) for t in df.Text]).most_common()

[(4, 174),
 (5, 106),
 (3, 95),
 (6, 36),
 (7, 15),
 (2, 12),
 (8, 6),
 (11, 4),
 (9, 3),
 (10, 1),
 (14, 1),
 (1, 1)]

In [22]:
import nltk
nltk.download('punkt')

from nltk.tokenize import sent_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [23]:
df['sentences'] = df.Text.apply(sent_tokenize)
df.head(3)

             ID  ...                                          sentences
0  validation-1  ...  [He admitted making four trips to China and pl...
1  validation-2  ...  [Kathleen Nott was born in Camberwell, London....
2  validation-3  ...  [When she returns to her hotel room, a Liberia...

[3 rows x 12 columns]

In [26]:
df['len'] = df['sentences'].apply(len)
df['len'].value_counts()

3     183
4     119
2     114
5      19
1      15
10      1
9       1
8       1
7       1
Name: len, dtype: int64

In [ ]:
df.iloc[:100].value_counts()

Next, specify the data type and model:

In [260]:
genre = "nw"
# The Ontonotes data for training the model contains text from several sources
# of very different styles. You need to specify the most suitable one out of:
# "bc": broadcast conversation
# "bn": broadcast news
# "mz": magazine
# "nw": newswire
# "pt": Bible text
# "tc": telephone conversation
# "wb": web data

model_name = "bert_base"
# The fine-tuned model to use. Options are:
# bert_base
# spanbert_base
# bert_large
# spanbert_large

# System Installation
Get the code:

In [3]:
! git clone https://github.com/mandarjoshi90/coref.git
%cd coref

Cloning into 'coref'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 731 (delta 0), reused 0 (delta 0), pack-reused 728
Receiving objects: 100% (731/731), 4.17 MiB | 14.29 MiB/s, done.
Resolving deltas: 100% (439/439), done.
/content/coref

Temporary hack to fix a requirement (pending pull request)

In [4]:
! cat requirements.txt | sed 's/MarkupSafe==1.0/MarkupSafe==1.1.1/' > tmp
! mv tmp requirements.txt

Set some environment variables. The data directory one is used by the system, the other is so we can use the model defined above.

In [261]:
import os
os.environ['data_dir'] = "."
os.environ['CHOSEN_MODEL'] = model_name

Run Setup. Note, some incompatibility issues do appear, but I still find that everything installs and runs. Also, I specifically request tensorflow 2 and then uninstall it to make sure we've got a clean setup.

In [6]:
%tensorflow_version 2.x
! pip uninstall -y tensorflow
! pip install -r requirements.txt --log install-log.txt -q
! ./setup_all.sh

Uninstalling tensorflow-2.4.0:
  Successfully uninstalled tensorflow-2.4.0
     |████████████████████████████████| 102kB 4.5MB/s
     |████████████████████████████████| 1.2MB 14.8MB/s
     |████████████████████████████████| 163kB 22.1MB/s
     |████████████████████████████████| 6.6MB 944kB/s
     |████████████████████████████████| 552kB 49.8MB/s
     |████████████████████████████████| 61kB 7.7MB/s
     |████████████████████████████████| 2.2MB 48.6MB/s
     |████████████████████████████████| 5.4MB 25.7MB/s
     |████████████████████████████████| 890kB 47.1MB/s
     |████████████████████████████████| 133kB 45.2MB/s
     |████████████████████████████████| 153kB 49.3MB/s
     |████████████████████████████████| 51kB 7.0MB/s
     |████████████████████████████████| 51kB 6.6MB/s
     |████████████████████████████████| 92kB 10.4MB/s
     |████████████████████████████████| 20.4MB 1.4MB/s
     |████████████████████████████████| 2.1MB 51.0MB/s
     |████████████████████████████████| 1.2MB 46.5MB/s
     |████████████████████████████████| 2.7MB 46.2MB/s
     |████████████████████████████████| 71kB 8.7MB/s
     |████████████████████████████████| 256kB 53.9MB/s
     |████████████████████████████████| 71kB 9.1MB/s
     |████████████████████████████████| 61kB 7.1MB/s
     |████████████████████████████████| 194kB 51.8MB/s
     |████████████████████████████████| 512kB 46.9MB/s
     |████████████████████████████████| 61kB 7.1MB/s
     |████████████████████████████████| 12.4MB 38.1MB/s
     |████████████████████████████████| 50.0MB 165kB/s
     |████████████████████████████████| 3.2MB 41.1MB/s
     |████████████████████████████████| 491kB 43.9MB/s
     |████████████████████████████████| 377.0MB 46kB/s
     |████████████████████████████████| 748.9MB 21kB/s
     |████████████████████████████████| 8.8MB 45.6MB/s
     |████████████████████████████████| 327kB 53.7MB/s
     |████████████████████████████████| 4.1MB 39.8MB/s
     |████████████████████████████████| 51kB 6.9MB/s
     |████████████████████████████████| 256kB 53.8MB/s
  Building wheel for absl-py (setup.py) ... done
  Building wheel for gast (setup.py) ... done
  Building wheel for html5lib (setup.py) ... done
  Building wheel for JPype1 (setup.py) ... done
  Building wheel for mmh3 (setup.py) ... done
  Building wheel for msgpack-python (setup.py) ... done
  Building wheel for pycparser (setup.py) ... done
  Building wheel for pyhocon (setup.py) ... done
  Building wheel for wrapt (setup.py) ... done
  Building wheel for PyYAML (setup.py) ... done
ERROR: fancyimpute 0.4.3 requires tensorflow, which is not installed.
ERROR: yellowbrick 0.9.1 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.19.1 which is incompatible.
ERROR: umap-learn 0.4.6 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.19.1 which is incompatible.
ERROR: umap-learn 0.4.6 has requirement scipy>=1.3.1, but you'll have scipy 1.0.0 which is incompatible.
ERROR: tensorflow-probability 0.11.0 has requirement gast>=0.3.2, but you'll have gast 0.2.2 which is incompatible.
ERROR: tensorflow-metadata 0.26.0 has requirement absl-py<0.11,>=0.9, but you'll have absl-py 0.7.1 which is incompatible.
ERROR: pyasn1-modules 0.2.8 has requirement pyasn1<0.5.0,>=0.4.6, but you'll have pyasn1 0.4.2 which is incompatible.
ERROR: plotnine 0.6.0 has requirement scipy>=1.2.0, but you'll have scipy 1.0.0 which is incompatible.
ERROR: pandas 1.1.5 has requirement python-dateutil>=2.7.3, but you'll have python-dateutil 2.6.1 which is incompatible.
ERROR: nbclient 0.5.1 has requirement jupyter-client>=6.1.5, but you'll have jupyter-client 5.3.5 which is incompatible.
ERROR: imbalanced-learn 0.4.3 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.19.1 which is incompatible.
ERROR: google-colab 1.0.0 has requirement astor~=0.8.1, but you'll have astor 0.8.0 which is incompatible.
ERROR: google-colab 1.0.0 has requirement six~=1.15.0, but you'll have six 1.12.0 which is incompatible.
ERROR: flask 1.1.2 has requirement Jinja2>=2.10.1, but you'll have jinja2 2.10 which is incompatible.
ERROR: flask 1.1.2 has requirement Werkzeug>=0.15, but you'll have werkzeug 0.14.1 which is incompatible.
ERROR: fbprophet 0.7.1 has requirement python-dateutil>=2.8.0, but you'll have python-dateutil 2.6.1 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: cvxpy 1.0.31 has requirement scipy>=1.1.0, but you'll have scipy 1.0.0 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Get the finetuned BERT model specified above.

In [262]:
! ./download_pretrained.sh $CHOSEN_MODEL

Downloading bert_base
--2020-12-22 20:27:12--  http://nlp.cs.washington.edu/pair2vec/bert_base.tar.gz
Resolving nlp.cs.washington.edu (nlp.cs.washington.edu)... 128.208.3.120, 2607:4000:200:12::78
Connecting to nlp.cs.washington.edu (nlp.cs.washington.edu)|128.208.3.120|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1593421271 (1.5G) [application/x-gzip]
Saving to: ‘./bert_base.tar.gz’

bert_base.tar.gz    100%[===================>]   1.48G  70.5MB/s    in 22s

2020-12-22 20:27:34 (69.0 MB/s) - ‘./bert_base.tar.gz’ saved [1593421271/1593421271]

bert_base/
bert_base/checkpoint
bert_base/events.out.tfevents.1551148826.learnfair0213
bert_base/events.out.tfevents.1551148825.learnfair0213
bert_base/model.max.ckpt.index
bert_base/stdout.log
bert_base/bert_config.json
bert_base/vocab.txt
bert_base/model.max.ckpt.data-00000-of-00001
bert_base/events.out.tfevents.1551148806.learnfair2008

# Data Preparation and Prediction

Process the data to be in the required input format.

In [27]:
from bert import tokenization
import json

def make_line(text):
    data = {
        'doc_key': genre,
        'sentences': [["[CLS]"]],
        'speakers': [["[SPL]"]],
        'clusters': [],
        'sentence_map': [0],
        'subtoken_map': [0],
    }

    # Determine Max Segment
    max_segment = None
    for line in open('experiments.conf'):
        if line.startswith(model_name):
            max_segment = True
        elif line.strip().startswith("max_segment_len"):
            if max_segment:
                max_segment = int(line.strip().split()[-1])
                break

    tokenizer = tokenization.FullTokenizer(vocab_file="cased_config_vocab/vocab.txt", do_lower_case=False)
    subtoken_num = 0
    for sent_num, line in enumerate(text):
        raw_tokens = line.split()
        tokens = tokenizer.tokenize(line)
        if len(tokens) + len(data['sentences'][-1]) >= max_segment:
            data['sentences'][-1].append("[SEP]")
            data['sentences'].append(["[CLS]"])
            data['speakers'][-1].append("[SPL]")
            data['speakers'].append(["[SPL]"])
            data['sentence_map'].append(sent_num - 1)
            data['subtoken_map'].append(subtoken_num - 1)
            data['sentence_map'].append(sent_num)
            data['subtoken_map'].append(subtoken_num)

        ctoken = raw_tokens[0]
        cpos = 0
        for token in tokens:
            data['sentences'][-1].append(token)
            data['speakers'][-1].append("-")
            data['sentence_map'].append(sent_num)
            data['subtoken_map'].append(subtoken_num)
            
            if token.startswith("##"):
                token = token[2:]
            if len(ctoken) == len(token):
                subtoken_num += 1
                cpos += 1
                if cpos < len(raw_tokens):
                    ctoken = raw_tokens[cpos]
            else:
                ctoken = ctoken[len(token):]

    data['sentences'][-1].append("[SEP]")
    data['speakers'][-1].append("[SPL]")
    data['sentence_map'].append(sent_num - 1)
    data['subtoken_map'].append(subtoken_num - 1)

    return data

In [257]:
test_data = [make_line(t) for t in df.sentences[:100]]

In [258]:
print(test_data[0]['sentences'][0])

['[CLS]', 'He', 'admitted', 'making', 'four', 'trips', 'to', 'China', 'and', 'playing', 'golf', 'there', '.', 'He', 'also', 'admitted', 'that', 'Z', '##TE', 'officials', ',', 'whom', 'he', 'says', 'are', 'his', 'golf', 'b', '##udd', '##ies', ',', 'hosted', 'and', 'paid', 'for', 'the', 'trips', '.', 'Jose', 'de', 'V', '##ene', '##cia', 'III', ',', 'son', 'of', 'House', 'Speaker', 'Jose', 'de', 'V', '##ene', '##cia', 'Jr', ',', 'alleged', 'that', 'A', '##bal', '##os', 'offered', 'him', 'US', '$', '10', 'million', 'to', 'withdraw', 'his', 'proposal', 'on', 'the', 'N', '##B', '##N', 'project', '.', '[SEP]']

In [259]:
with open("test.in.json", 'w') as out:
    for d in test_data:
        json.dump(d, out, sort_keys=True)
        out.write('\n')

#! cat test.in.json

Run Prediction

In [263]:
! GPU=0 python predict.py $CHOSEN_MODEL test.in.json test2.out.txt

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
WARNING: Logging before flag parsing goes to stderr.
W1222 20:30:43.574110 139691296565120 deprecation_wrapper.py:119] From /content/coref/coref_ops.py:11: The name tf.NotDifferentiable is deprecated. Please use tf.no_gradient instead.

W1222 20:30:43.599173 139691296565120 deprecation_wrapper.py:119] From /content/coref/bert/optimization.py:87: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W1222 20:30:44.956030 139691296565120 lazy_loader.py:50]
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

Setting CUDA_VISIBLE_DEVICES to: 0
Running experiment: bert_base
data_dir = "/sdb/data/new_coref"
model_type = "independent"
max_top_antecedents = 50
max_training_sentences = 11
top_span_ratio = 0.4
max_num_speakers = 20
max_segment_len = 128
bert_learning_rate = 1e-05
task_learning_rate = 0.0002
num_docs = 2802
dropout_rate = 0.3
ffnn_size = 3000
ffnn_depth = 1
num_epochs = 20
feature_size = 20
max_span_width = 30
use_metadata = true
use_features = true
use_segment_distance = true
model_heads = true
coref_depth = 2
coarse_to_fine = true
fine_grained = true
use_prior = true
train_path = "./train.english.128.jsonlines"
eval_path = "./dev.english.128.jsonlines"
conll_eval_path = "./dev.english.v4_gold_conll"
single_example = true
genres = [
  "bc"
  "bn"
  "mz"
  "nw"
  "pt"
  "tc"
  "wb"
]
eval_frequency = 1000
report_frequency = 100
log_root = "."
adam_eps = 1e-06
task_optimizer = "adam"
bert_config_file = "./bert_base/bert_config.json"
vocab_file = "./bert_base/vocab.txt"
tf_checkpoint = "./bert_base/model.max.ckpt"
init_checkpoint = "./bert_base/model.max.ckpt"
log_dir = "./bert_base"
W1222 20:30:45.028734 139691296565120 deprecation_wrapper.py:119] From /content/coref/bert/modeling.py:92: The name tf.gfile.GFile is deprecated. Please use tf.io.gfile.GFile instead.

W1222 20:30:45.114146 139691296565120 deprecation_wrapper.py:119] From /content/coref/independent.py:48: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W1222 20:30:45.122800 139691296565120 deprecation_wrapper.py:119] From /content/coref/independent.py:50: The name tf.PaddingFIFOQueue is deprecated. Please use tf.queue.PaddingFIFOQueue instead.

W1222 20:30:45.126783 139691296565120 deprecation.py:323] From /content/coref/bert/modeling.py:158: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
W1222 20:30:45.142550 139691296565120 deprecation_wrapper.py:119] From /content/coref/bert/modeling.py:175: The name tf.variable_scope is deprecated. Please use tf.compat.v1.variable_scope instead.

W1222 20:30:45.142787 139691296565120 deprecation_wrapper.py:119] From /content/coref/bert/modeling.py:175: The name tf.AUTO_REUSE is deprecated. Please use tf.compat.v1.AUTO_REUSE instead.

W1222 20:30:45.217837 139691296565120 deprecation.py:506] From /content/coref/bert/modeling.py:362: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W1222 20:30:45.264913 139691296565120 deprecation.py:323] From /content/coref/bert/modeling.py:676: dense (from tensorflow.python.layers.core) is deprecated and will be removed in a future version.
Instructions for updating:
Use keras.layers.dense instead.
W1222 20:30:48.188479 139691296565120 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/array_ops.py:1354: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W1222 20:30:48.270787 139691296565120 deprecation.py:323] From /content/coref/independent.py:221: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
W1222 20:30:48.321802 139691296565120 deprecation_wrapper.py:119] From /content/coref/util.py:117: The name tf.nn.xw_plus_b is deprecated. Please use tf.compat.v1.nn.xw_plus_b instead.

W1222 20:30:48.917917 139691296565120 deprecation_wrapper.py:119] From /content/coref/independent.py:60: The name tf.train.init_from_checkpoint is deprecated. Please use tf.compat.v1.train.init_from_checkpoint instead.

**** Trainable Variables ****
  name = bert/embeddings/word_embeddings:0, shape = (28996, 768), *INIT_FROM_CKPT*
  name = bert/embeddings/token_type_embeddings:0, shape = (2, 768), *INIT_FROM_CKPT*
  name = bert/embeddings/position_embeddings:0, shape = (512, 768), *INIT_FROM_CKPT*
  name = bert/embeddings/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/embeddings/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/self/value/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/self/value/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/output/dense/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/attention/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/intermediate/dense/kernel:0, shape = (768, 3072), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/intermediate/dense/bias:0, shape = (3072,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/output/dense/kernel:0, shape = (3072, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_0/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/self/value/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/self/value/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/output/dense/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/attention/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/intermediate/dense/kernel:0, shape = (768, 3072), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/intermediate/dense/bias:0, shape = (3072,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/output/dense/kernel:0, shape = (3072, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_1/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/self/value/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/self/value/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/output/dense/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/attention/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/intermediate/dense/kernel:0, shape = (768, 3072), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/intermediate/dense/bias:0, shape = (3072,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/output/dense/kernel:0, shape = (3072, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_2/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/self/value/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/self/value/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/output/dense/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/attention/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/intermediate/dense/kernel:0, shape = (768, 3072), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/intermediate/dense/bias:0, shape = (3072,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/output/dense/kernel:0, shape = (3072, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_3/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/self/value/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/self/value/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/output/dense/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/attention/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/intermediate/dense/kernel:0, shape = (768, 3072), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/intermediate/dense/bias:0, shape = (3072,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/output/dense/kernel:0, shape = (3072, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_4/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/self/value/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/self/value/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/output/dense/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/attention/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/intermediate/dense/kernel:0, shape = (768, 3072), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/intermediate/dense/bias:0, shape = (3072,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/output/dense/kernel:0, shape = (3072, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_5/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/self/value/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/self/value/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/output/dense/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/attention/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/intermediate/dense/kernel:0, shape = (768, 3072), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/intermediate/dense/bias:0, shape = (3072,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/output/dense/kernel:0, shape = (3072, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/output/dense/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/output/LayerNorm/beta:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_6/output/LayerNorm/gamma:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_7/attention/self/query/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_7/attention/self/query/bias:0, shape = (768,), *INIT_FROM_CKPT*
  name = bert/encoder/layer_7/attention/self/key/kernel:0, shape = (768, 768), *INIT_FROM_CKPT*
  name = bert/encoder/layer_7/attention/self/key/bias:0, shape = (768,), *INIT_FROM_CKPT*

# Output Handling

Finally, we do a little processing to get the output to have the same token indices as our input.

In [264]:
def convert_mention(output, mention, comb_text):
    start = output['subtoken_map'][mention[0]]
    end = output['subtoken_map'][mention[1]] + 1
    nmention = (start, end)
    mtext = ''.join(' '.join(comb_text[mention[0]:mention[1]+1]).split(" ##"))
    return (nmention, mtext)

def get_clusters(output):
    comb_text = [word for sentence in output['sentences'] for word in sentence]
    seen = set()
    #print('Clusters:')
    clusters = []
    for cluster in output['predicted_clusters']:
        mapped = []
        for mention in cluster:
            seen.add(tuple(mention))
            mapped.append(convert_mention(output, mention, comb_text))
        clusters.append(mapped)

    return clusters

# print('\nMentions:')
# for mention in output['top_spans']:
#     if tuple(mention) in seen:
#         continue
#     print(convert_mention(mention), end=",\n")

In [265]:
with open('test2.out.txt') as f:
    lines = f.readlines()

In [266]:
outputs = [json.loads(l) for l in lines]

In [267]:
print(outputs[0]['sentences'])

[['[CLS]', 'He', 'admitted', 'making', 'four', 'trips', 'to', 'China', 'and', 'playing', 'golf', 'there', '.', 'He', 'also', 'admitted', 'that', 'Z', '##TE', 'officials', ',', 'whom', 'he', 'says', 'are', 'his', 'golf', 'b', '##udd', '##ies', ',', 'hosted', 'and', 'paid', 'for', 'the', 'trips', '.', 'Jose', 'de', 'V', '##ene', '##cia', 'III', ',', 'son', 'of', 'House', 'Speaker', 'Jose', 'de', 'V', '##ene', '##cia', 'Jr', ',', 'alleged', 'that', 'A', '##bal', '##os', 'offered', 'him', 'US', '$', '10', 'million', 'to', 'withdraw', 'his', 'proposal', 'on', 'the', 'N', '##B', '##N', 'project', '.', '[SEP]']]

In [268]:
predictions = [get_clusters(output) for output in outputs]

In [269]:
clusters = [[[m[1] for m in cluster] for cluster in clusters] for clusters in predictions]
clusters[1]

[['Kathleen Nott', 'Her', 'her', 'Kathleen', 'She'],
 ['London', 'London', 'London']]

In [270]:
test_df = df.iloc[:100].copy()

In [271]:
test_df['clusters'] = clusters

# Сравнение (лучше см. [тетрадку](https://github.com/polyankaglade/autoshaving_project_2020/blob/main/Compare%20predictions%20to%20GAP.ipynb))

In [208]:
def flatten(cluster):
    clus_words = []
    for ent in cluster:
        clus_words.extend(ent.split())
    return ' '.join(clus_words)

In [247]:
test_df.clusters[1]

[['Kathleen Nott', 'Her', 'her', 'Kathleen', 'She'],
 ['London', 'London', 'London']]

In [209]:
flatten(test_df.clusters[1][0])

'Kathleen Nott Her her Kathleen She'

In [272]:
def compare(pronoun, a, a_value, b, b_value, clusters):

    #clusters = [flatten(c) for c in clusters]

    positives = []
    negatives = []
    if a_value:
        positives.append([pronoun, a])
    else:
        negatives.append([pronoun, a])

    if b_value:
        positives.append([pronoun, b])
    else:
        negatives.append([pronoun, b])

    
    tp_clusters = []
    tp_gold = []

    fp_clusters = []
    fp_gold = []

    tn_clusters = []
    fn_clusters = []

    # for cluster in clusters:

    #     for p in positives:
    #         if p[0] and p[1] in cluster:
    #             tp_clusters.append(cluster)
    #     for n in negatives:
    #         if n[0] and n[1] in cluster:
    #             fp_clusters.append(cluster)

    for p in positives:
        for cluster in clusters:
            if p[0] in cluster and p[1] in cluster:
                tp_clusters.append(cluster)
                tp_gold.append(p)

    for p in positives:
        if p not in tp_gold:
            fn_clusters.append(p)

    for n in negatives:
        for cluster in clusters:
            if n[0] in cluster and n[1] in cluster:
                fp_clusters.append(cluster)
                fp_gold.append(n)

    for n in negatives:
        if n not in fp_gold:
            tn_clusters.append(n)

    return tp_clusters, fp_clusters, tn_clusters, fn_clusters

In [273]:
res = test_df.apply(lambda x: compare(x['Pronoun'], x['A'], x['A-coref'], x['B'], x['B-coref'], x['clusters']), axis=1).values

In [274]:
def clusters_to_string(clusters):
    return '; '.join([', '.join([m for m in c]) for c in clusters])

In [275]:
for i, n in enumerate(['tp', 'fp', 'tn', 'fn']):

    test_df[n] = [r[i] for r in res]
    test_df[f'{n}_count'] = test_df[n].apply(len)
    test_df[f'str_{n}'] = test_df[n].apply(clusters_to_string)

In [276]:
test_df['str_clusters'] = test_df.clusters.apply(clusters_to_string)

In [277]:
test_df[['Pronoun', 'A', 'A-coref', 'B', 'B-coref', 'tp_count', 'fp_count', 'tn_count', 'fn_count']]

   Pronoun                   A  A-coref  ... fp_count  tn_count  fn_count
0      him  Jose de Venecia Jr    False  ...        0         2         0
1      She               Ellen    False  ...        0         1         0
2      his     Jason Scott Lee    False  ...        0         1         0
3       he           Reucassel     True  ...        0         1         0
4      she        Finch Hatton    False  ...        0         1         1
..     ...                 ...      ...  ...      ...       ...       ...
95      he         Fred Ziffel    False  ...        0         1         0
96     her               Seema    False  ...        2         0         0
97     she             Branton    False  ...        0         2         0
98     his             Hibbert     True  ...        0         1         0
99     his    Charlie Feathers    False  ...        0         1         1

[100 rows x 9 columns]

In [278]:
len(test_df[test_df['fp_count'] + test_df['fn_count'] > 0])

46

In [279]:
len(test_df[test_df['tp_count'] + test_df['tn_count'] == 2])

54

In [280]:
falses = test_df[test_df['fp_count'] + test_df['fn_count'] > 0]
falses[['Pronoun', 'A', 'A-coref', 'B', 'B-coref', 'str_clusters', 'str_fp', 'str_fn', 'str_tp', 'str_tn']]

   Pronoun  ...                   str_tn
4      she  ...        she, Finch Hatton
5       he  ...          he, James Randi
7      his  ...               his, Colin
8       he  ...
9      her  ...
10      he  ...     he, Ioannis Mamouris
12     her  ...             her, Crystal
13     his  ...          his, Dan Dailey
18     his  ...
19     his  ...              his, Morris
20     his  ...           his, Joe Brown
24     his  ...              his, Adkins
25     his  ...              his, Mughal
28     him  ...
30      He  ...              He, Baronet
32     his  ...              his, Nelson
36      He  ...     He, Ahmad bin Marwan
37      he  ...          he, Daniel Sims
38     his  ...       his, Lobsang Rampa
39     his  ...
41      he  ...         he, Gordon Brown
42     She  ...
43      He  ...              He, Almansi
44     her  ...         her, Mrs Firrell
45      he  ...
48     her  ...
51     his  ...       his, Cecil Calvert
54     she  ...   she, Daniela Sandiford
55      he  ...
56      He  ...          He, Win Wilfong
58     his  ...             his, Schnack
59      he  ...       he, Eugenio Bernal
62     his  ...
64     her  ...  her, Ethel Jessie Liles
65     him  ...
66      he  ...        he, Todd McCarthy
67     his  ...
76     his  ...
77     his  ...         his, Rad Hourani
79     she  ...
82     him  ...         him, Sir Trenton
83     his  ...          his, Ian Burton
85     his  ...        his, Edward Lhuyd
89      he  ...
96     her  ...
99     his  ...    his, Charlie Feathers

[46 rows x 10 columns]

In [281]:
def make_pos_neg(a, a_value, b, b_value):
    positives = []
    negatives = []
    if a_value:
        positives.append(a)
    else:
        negatives.append(a)

    if b_value:
        positives.append(b)
    else:
        negatives.append(b)

    return ', '.join(positives), ', '.join(negatives)

In [282]:
p_n = test_df.apply(lambda x: make_pos_neg(x['A'], x['A-coref'], x['B'], x['B-coref']), axis=1).values

In [283]:
test_df['positives'] = [x[0] for x in p_n]
test_df['negatives'] = [x[1] for x in p_n]
test_df.head()

             ID  ...                   negatives
0  validation-1  ...  Jose de Venecia Jr, Abalos
1  validation-2  ...                       Ellen
2  validation-3  ...             Jason Scott Lee
3  validation-4  ...                      Debnam
4  validation-5  ...                Finch Hatton

[5 rows x 29 columns]

In [284]:
export = ['Text', 'Pronoun', 'A', 'A-coref', 'B', 'B-coref',
          'positives', 'negatives',
          'str_clusters', 'str_fp', 'str_fn', 'str_tp', 'str_tn',
          'tp_count', 'fp_count', 'tn_count', 'fn_count']
export_df = test_df[export]
export_df.to_csv('results2.tsv', sep='\t')